<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.upmall.mapper.SkuGrouponPriceDao">

	<resultMap id="BaseResultMap" type="com.zsl.upmall.entity.SkuGrouponPrice">
		<id column="id" property="id" />
		<id column="sku_id" property="skuId" />
		<id column="groupon_price" property="grouponPrice" />
	</resultMap>
	<sql id="Base_Column_List">
		id, sku_id, groupon_price
	</sql>
	
</mapper>